@model MvcCrudOperation.Models.GeosModel

@using (Html.BeginForm("save", "Geos", FormMethod.Post))
{
    <div class="row">
        <div class="col">
            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { placeholder = "Name", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Gender)
                @Html.TextBoxFor(x => x.Gender, new { placeholder = "Gender", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.DeptName, "Department name")
                @Html.TextBoxFor(x => x.DeptName, new { placeholder = "Department", @class = "form-control" })
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.id)
}